@{
    ViewData["Title"] = "Задание 11";
}


<div id="TaskFirstSolution">
    <form method="post">
        <p>
            <label>Введите любой текст:</label>
            <input type="text" name="input" />
            <button type="submit">Выполнить</button>
        </p>
        <p>
            <label>Итог:</label>
            <label>@ViewBag.H</label>
        </p>
    </form>
</div>